//colors
$title-color: #515365;
$text-color: #888da8;
$icon-color: #c0c4d8;
$color-secondary: rgb(255, 94, 58);
$icon-color: #c2c5d9;
$btn-color: #9a9fbf;
$featured-post-hover: #ffc923;

.post {
	position: relative;
	padding: 25px;
	border-bottom: 1px solid #e6ecf5;

	&-author {
		margin-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.user-title {
			display: flex;
			align-items: center;

			img {
				border-radius: 100%;
				overflow: hidden;
				margin-right: 12px;
			}

			.author-date {
				.author-name {
					color: $title-color;

					h6 {
						font-weight: 700;
						font-size: 0.875rem;
						line-height: 1.3rem;
					}
				}

				.post-date {
					line-height: 0.852rem;
					color: $text-color;
					font-size: 0.812rem;
				}
			}
		}
	}

	.more .dropdown {
		.btn {
			padding: 0;
			&-secondary {
				color: $icon-color;
			}
		}

		.more-settings {
			padding: 15px 20px;
			width: 180px;

			.profile-menu-link {
				padding: 7px 0;
				font-size: 12px;
				display: block;
				color: $title-color;
				transition: 0.2s;

				&:hover {
					color: $color-secondary;
				}
			}
		}
	}

	p {
		margin: 20px 0;
		font-size: 0.875rem;

		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		max-height: 3.8rem;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	&-additional-info {
		padding: 20px 0 0;
		border-top: 1px solid #e6ecf5;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.btn {
			padding: 0;
			color: $icon-color;
			font-size: 12px;
			transition: 0.2s;

			&:first-child {
				margin-right: 15px;
			}

			&:hover {
				color: $color-secondary;

				svg {
					fill: $color-secondary;
				}
			}

			span {
				vertical-align: middle;
			}

			svg {
				fill: $icon-color;
				margin-right: 8px;
				width: 20px;
				height: 20px;
			}
		}
	}

	.control-block-button {
		flex-direction: column;
		top: 20px;
		right: -11px;

		@media (max-width: 768px) {
			top: -12px;
			left: 90%;
			transform: translate(-90%, 0);
			flex-direction: row;
			width: fit-content;
		}

		.btn {
			&-control {
				display: block;
				background-color: $btn-color;
				margin-right: 0;
				margin-bottom: 6px;
				width: 34px;
				height: 34px;
				line-height: 34px;

				@media (max-width: 768px) {
					margin-right: 3px;
				}

				svg {
					width: 15px;
					height: 15px;
					vertical-align: middle;
					margin-bottom: 2px;
				}

				&:last-child {
					svg {
						margin-left: 3px;
						margin-bottom: 5px;
					}
				}
			}

			&:hover {
				background-color: $color-secondary;
			}

			&.featured-post:hover {
				background-color: $featured-post-hover;
			}
		}
	}
}
