//color
$color-text: #888da8;
$color-secondary: rgb(255, 94, 58);

.about-user {
	.w-personal-info {
		margin-bottom: 20px;

		li {
			display: flex;
			justify-content: space-between;
			font-size: 13px;

			.text {
				width: 60%;
			}

			a.text {
				color: $color-text;
				transition: 0.2s;

				&:hover {
					color: $color-secondary;
				}
			}
		}
	}

	.w-socials {
		.title {
			margin-bottom: 15px;
		}
	}
}
