beautifulsoup4==4.7.1
Django==2.2.13
django-autoslug-iplweb==1.9.4.dev0
django-cities-light==3.5.0
django-cors-headers==2.5.2
django-livereload-server==0.3.2
django-picklefield==2.0
djangorestframework==3.11.2
djangorestframework-jwt==1.11.0
Pillow==6.0.0
progressbar2==3.39.3
PyJWT==1.7.1
python-utils==2.3.0
pytz==2018.9
six==1.12.0
soupsieve==1.9
sqlparse==0.3.0
tornado==6.0.2
Unidecode==1.0.23
