//color
$title-color: #515365;
$bg-facebook: #2f5b9d;
$bg-twitter: #38bff1;
$bg-dribbble: #f74881;

.personal-info {
	.ui-block {
		&-content {
			.w-personal-info {
				li {
					padding: 15px 0;
				}

				.text {
					font-size: 12px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					max-height: 50px;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
				}
			}

			.w-socials {
				.title {
					margin-bottom: 15px;
				}

				.social-item {
					font-size: 11px;
					color: #fff;
					padding: 7px 15px;
					display: block;
					border-radius: 3px;
					margin-bottom: 15px;
					text-align: center;
					transition: 0.2s;

					&:last-child {
						margin-bottom: 0;
					}

					&:hover {
						opacity: 0.9;
					}

					&.bg {
						&-facebook {
							background-color: $bg-facebook;
						}

						&-twitter {
							background-color: $bg-twitter;
						}

						&-dribbble {
							background-color: $bg-dribbble;
						}
					}
				}
			}
		}
	}
}
