@import url('https://fonts.googleapis.com/css?family=Quicksand');

// colors
$bg-color: #fff;
$secondary-color: rgb(255, 94, 58);

// fonts
$font-title: 'Quicksand', sans-serif;

.tab {
	&-content {
		min-height: 600px;
		background-color: $bg-color;
		border: 1px solid transparent;
		border-bottom-left-radius: 0.25rem;
		border-bottom-right-radius: 0.25rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&-pane {
		height: inherit;
	}

	&-section {
		height: inherit;
		padding: 30px;

		&-title {
			text-align: center;
			font-family: $font-title;
			margin-bottom: 30px;
      font-weight: bold;

			span {
				color: $secondary-color;
			}
		}
	}
}
