@import url("https://fonts.googleapis.com/css?family=Quicksand");

// colors
$bg-color: #fff;
$secondary-color: rgb(255, 94, 58);
$color-error: #e2726f;

// fonts
$font-title: "Quicksand", sans-serif;

.tab {
  &-content {
    background-color: $bg-color;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;

    @media (min-width: 992px) {
      min-height: 680px;
    }

    .alert {
      margin-bottom: 0;
      position: absolute;
      top: -50px;
      left: 0;
      width: 100%;
      border-radius: 0;
      height: 50px;
      transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
      overflow: hidden;
      box-sizing: border-box;

      &.alert-open {
        transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);

        top: 0;
      }
    }
  }

  &-pane {
    height: inherit;
  }

  &-section {
    height: inherit;
    padding: 25px;

    @media (min-width: 992px) {
      padding: 35px;
    }

    &-title {
      text-align: center;
      font-family: $font-title;
      margin-bottom: 30px;
      font-weight: bold;

      @media (max-width: 992px) {
        margin-top: 5px;
      }

      span {
        color: $secondary-color;
      }
    }
  }
}

.has-error {
  color: $color-error;
  
  .form-control {
    border-color: $color-error !important;
  }

  label {
    color: $color-error;
  }

  &::placeholder {
    color: $color-error;
  }
}

.tab-section {
  &.registration {
    .loading-panel {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      margin-top: 20px;

      .MuiCircularProgress-colorPrimary-14 {
        color: $secondary-color !important;
      }
    }
  }
}
