//colors
$bg-navbar: #3f4257;

.navbar {
	padding-left: 86px !important;
	height: 70px;
	background-color: $bg-navbar;
	box-shadow: 0 3px 30px rgba(63, 66, 87, 0.1);

	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
