// colors
$bg-searchbox: #494c62;
$placeholder: #696d87;

.search-bar {
  position: relative;
  height: 70px;

  input::placeholder {
    color: $placeholder;
  }

  input:hover::placeholder,
  input:focus::placeholder {
    transition: 0.3s;
    color: #fff;
  }

  &.w-search {
    background-color: $bg-searchbox;

    @media (max-width: 768px) {
      display: none;
    }

    .search-bar-btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50px;

      &.btn {
        font-size: 25px;
        padding: 10px;
      }

      &.btn-secondary {
        background-color: transparent;
        border-color: transparent;

        &:not(:disabled):not(.disabled):active,
        .btn-secondary:not(:disabled):not(.disabled).active,
        .show > .btn-secondary.dropdown-toggle {
          background-color: transparent;
          border-color: transparent;
        }

        &:focus,
        .btn-secondary:not(:disabled):active:focus {
          box-shadow: none !important;
        }

        &:hover {
          svg {
            transition: 0.3s;
            fill: #fff;
          }
        }
      }

      svg {
        vertical-align: middle;
        padding-bottom: 7px;
        fill: $placeholder;
      }
    }
  }

  &-input {
    &.form-control {
      background-color: $bg-searchbox;
      border: none;
      border-radius: 0;
      padding: 13px 15px;
      font-size: 15px;
      height: inherit;

      &:focus {
        background-color: $bg-searchbox;
        border: none;
        color: #fff;
      }

      &:not(:focus) {
        color: #fff;
      }
    }

    &.with-button {
      padding-right: 50px;
    }
  }
}

.search-wrap {
  width: 300px;

  .search-bar {
    position: relative;
    height: 70px;

    input::placeholder {
      color: $placeholder;
    }

    input:hover::placeholder,
    input:focus::placeholder {
      transition: 0.3s;
      color: #fff;
    }

    &.w-search {
      background-color: $bg-searchbox;

      .search-bar-btn {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50px;

        &.btn {
          font-size: 25px;
          padding: 10px;
        }

        &.btn-secondary {
          background-color: transparent;
          border-color: transparent;

          &:not(:disabled):not(.disabled):active,
          .btn-secondary:not(:disabled):not(.disabled).active,
          .show > .btn-secondary.dropdown-toggle {
            background-color: transparent;
            border-color: transparent;
          }

          &:focus,
          .btn-secondary:not(:disabled):active:focus {
            box-shadow: none !important;
          }

          &:hover {
            svg {
              transition: 0.3s;
              fill: #fff;
            }
          }
        }

        svg {
          vertical-align: middle;
          padding-bottom: 7px;
          fill: $placeholder;
        }
      }
    }

    &-input {
      &.form-control {
        background-color: $bg-searchbox;
        border: none;
        border-radius: 0;
        padding: 13px 15px;
        font-size: 15px;
        height: inherit;

        &:focus {
          background-color: $bg-searchbox;
          border: none;
          color: #fff;
        }

        &:not(:focus) {
          color: #fff;
        }
      }

      &.with-button {
        padding-right: 50px;
      }
    }
  }
  .user-search {
    background-color: #fff;
    position: absolute;
    width: inherit;

    &-item {
      padding: 20px 25px;
    }
  }
}
