// colors
$color-secondary: rgb(255, 94, 58);

.load-more {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;

	.btn {
		padding: 5px 20px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12px;

		&-secondary {
			background-color: $color-secondary;
			border-color: $color-secondary;
		}
	}
}

.fade-in {
	animation: fadeIn .4s ease-in;
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}
