//colors
$main-color: #ff5e3a;

.newsfeed-form {
	.MuiTab-textColorSecondary-51.MuiTab-selected-52 {
		color: $main-color !important;
	}

	.MuiPrivateTabIndicator-colorSecondary-64 {
		background-color: $main-color !important;
	}

	span {
		font-size: 11px;
		font-weight: 700;
	}

	svg {
		font-size: 25px;
	}
}
