//colors
$main-color: #FF5E3A;

.MuiTab-textColorSecondary-51.MuiTab-selected-52 {
	color: $main-color !important;
}

.MuiPrivateTabIndicator-colorSecondary-64 {
	background-color: $main-color !important;
}